@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose {
  max-width: none;
  font-size: 0.875rem;
  line-height: 1.7;
}

.prose p {
  margin-bottom: 1.5em;
}

.prose h1 {
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: -0.025em;
}

.prose h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 2em;
  margin-bottom: 1em;
}

.prose h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

.prose pre {
  @apply bg-muted text-muted-foreground text-sm;
  margin: 1.5em 0;
}

.prose code {
  @apply text-primary bg-muted px-1 py-0.5 rounded-lg text-sm;
}

.prose a {
  @apply text-primary underline underline-offset-2 hover:text-primary/80;
}

.prose blockquote {
  @apply border-l-2 border-muted pl-4 italic text-sm;
}

.dark .prose {
  @apply text-foreground;
}

.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6 {
  @apply text-foreground;
}

.dark .prose blockquote {
  @apply border-muted text-muted-foreground;
}

.dark .prose a {
  @apply text-primary hover:text-primary/80;
}

.dark .prose strong {
  @apply text-foreground;
}

